* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;

}

html {

  // Acessibilidade - serve para tirar componentes de tela, sem tira-los da leitura de tela (labels, etc...)
  .srOnly {
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }  

  font-size: 62.5%;

  // **************************** COLORS ************************************

  --black: #29292E;
  --shadow: #050206;
  --purple: #835AFD;
  --danger-red: #E73F5D;
  --google-red: #EA4335;
  --gray-dark: #737380;
  --grey-medium: #A8A8B3;
  --bg-white: #F8F8F8;
  --details-white: #FEFEFE;
  --dark-pink: #E559F9;
  --light-pink: #D67EE2
}

  // ************************ GENERAL STYLES ********************************

body {
  background-color: var(--bg-white);
  color: var(--black);

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;

  // height: 100vh;
}

